{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class='all'>
    <header>
        <nav>
            <div class="logo">Kamlesh Kumar</div>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#Pro01">Projects</a></li>
                <li><a href="#ski">skills</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

        <section class="hero" id="home">
        <div class="content">
            <h1>Hi, It's me <span class="highlight"><br>Kamlesh Kumar</span></h1>
            <h3>I am a</h3>
            <div class="typing-container">
                <span class="typing-text"></span>
            </div>
            <div class="social-icons">
                <a href="https://www.github.com/kamlesh35" target="_blank" class="github"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/kamlesh-k-bb9705247/" target="_blank" class="linkedin"><i class="fab fa-linkedin"></i></a>
                <a href="https://twitter.com" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a>
                <a href="https://youtube.com" target="_blank" class="youtube"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="image">
            <img src="{% static "Kamlesh_photo.jpg" %}" alt="Kamlesh Kumar's Profile Picture">
        </div>
    </section>

    {% comment %} about section {% endcomment %}
    <script>
        function showSection(sectionId) {
            document.querySelectorAll('.content-section').forEach(section => {
                section.classList.remove('active');
            });
            document.getElementById(sectionId).classList.add('active');
        }
    </script>
    <section id='about' class="about-us">

        <div class="container">
            <img src="{% static "Kamlesh_photo.jpg" %}" alt="Profile Image" class="profile-img">
            <div class="content">
                <h1 class = 'abouth1'>About Me</h1>
                <p>I am Kamlesh Kumar, a skilled <a href = "https://www.coursera.org/user/42f2fdd72104e4afd0ba2788688654c0" target = _blank, class = "certilink"> Machine Learning & Deep Learning.AI</a> and <span class=fntstle>Python Django Developer</span>, passionate about AI-driven solutions and web application development. I hold a <a href = "" target = _blank, class = "certilink"> Machine Learning & Deep Learning.AI </a>certification from Stanford University and a Python Django certification from ThinkNEXT Technology.</p>
                <hr>
                <div class="tabs">
                    <div class="tab" onclick="showSection('skills')">Skills</div>
                    <div class="tab" onclick="showSection('experience')">Experience</div>
                    <div class="tab" onclick="showSection('education')">Education</div>
                </div>
                <div id="skills" class="content-section active">
                    <p><strong><a href = "https://www.coursera.org/user/42f2fdd72104e4afd0ba2788688654c0" target = _blank, class = "certilink2">Machine Learning & Deep Learning.AI</a></strong> certified in machine learning from <a href = "https://www.stanford.edu/" target = _blank, class = "certilink2">stanford University</a></p>
                    <p><strong>Python Django</strong> certified in Python Django from ThinkNEXT Technology Mohali Chandigarh</p>
                    <p><strong>SQL & MYSQL:</strong>Knowledge of SQL query and MySQL Workbench and strong knowledge Database</p>
                    <p><strong><a href = "https://github.com/kamlesh35" target = _blank, class = "certilink2">Git & GitHub:</a></strong>Understanding about Git (Version Control System) and Github Repojarty</p>
                </div>
                <div id="experience" class="content-section">
                    <p><strong>Experience:</strong> Fresher</p>
                </div>
                <div id="education" class="content-section">
                    <p><strong>Education:</strong> Bachelor's Degree in <span class = "certilink2">Computer Science & Engineering</span> from <a href = "https://rrsimt.ac.in/" target = _blank, class = "certilink2">Rajarshi Rananjay Singh Institute of Management and Technology</a></p>
                    <p><strong>Second Secondary Class:</strong> Secondary Class from Shri Raja Ram Inter Collage Bela Patti Pratapgarh</p>
                    <p><strong>Secondary Class:</strong> Secondary Class from Kisan Majadur Inter mediate collage Narayanpur</p>
                </div>
            
               
            </div>
        </div>
    </section>


    <section id="Pro01" class="container py-5">
        <div class = 'headingpro'>
            <h1 >Projects I've Build</h1>
        </div>
            <div class="projects">
                <div class="project-card">
                    <img src="{% static "project02.png" %}" alt="Heart Disease Prediction Model">
                    <h2>Heart Disease Prediction Model</h2>
                    <p>A machine learning model that predicts heart disease based on patient health data.</p>
                    <div class="popup">Click to explore more details!</div>
                    <a href="https://github.com/kamlesh35/Heart-Disease-Prediction-Model" target="_blank">View Project</a>
                </div>
                <div class="project-card">
                    <img src="{% static "project0.png" %}" alt="Digit Recognition">
                    <h2>Digit Recognition</h2>
                    <p>A deep learning model that recognizes handwritten digits using CNN(Convolutional Neural Network).
                    </p>
                    <div class="popup">Click to explore more details!</div>
                    <a href="https://github.com/yourusername/digit-recognition" target="_blank">View Project</a>
                </div>
                <div class="project-card">
                    <img src="{% static "project03.jpg" %}" alt="House Price Prediction Model">
                    <h2>House Price Prediction Model</h2>
                    <p>A regression model that predicts house prices based on various factors.</p>
                    <div class="popup">Click to explore more details!</div>
                    <a href="https://github.com/yourusername/house-price-prediction" target="_blank">View Project</a>
                </div>
            </div>
        </section>









        <section id="ski" class="container py-5">
            <div class="skills-section">
                <hr style="border: 2px solid black; width: 80%;">
                <h1 class="title">My Skills / Certificate</h1>
                <div class="skill">
                    <img src="{% static 'machine.png' %}" alt="Machine Learning & Deep Learning.AI">
                    <div class="skill-text">
                        <h2><a href = 'https://www.coursera.org/account/accomplishments/specialization/1XVDFW5YJUTU' target = _blank, class = "certilink2">Machine Learning & Deep Learning.AI<span class = "certilink" > (Certificate)</span></a></h2>
                        <p>Diving Deep into Supervised Machine Learning: Regression & Classification! Understanding these advanced algorithms is crucial for building robust AI solutions that can tackle real-world challenges in computer vision, NLP, and autonomous systems.</p>
                    </div>
                </div>
        
                <div class="skill">
                    <img src="{% static 'py.png' %}" alt="Python Django">
                    <div class="skill-text">
                        <h2>Python Django</h2>
                        <p>I have successfully completed a Python Programming and Django Certification from ThinkNEXT Technology, Mohali. This certification has equipped me with in-depth knowledge of Python programming, covering fundamental and advanced concepts,. </p>
                    </div>
                </div>
        
            </div>
        </section>

        <section id="contact" class="container py-5">
            <div class="contact-container">
                <div class="contact-left">
                    <h2>Contact Me</h2>
                    <p><i class="fas fa-play"></i> <a href='https://www.github.com/kamlesh35' style="color:white;">github.com/kamlesh35</a></p>
                    <div class = 'mail'>
                    <a href="tel:{{ phone }}" class="phone-link">📞 Call Me: {{ phone }}</a>
                    <a href="mailto:{{ email_1 }}" class="phone-link">📩 Email Me: {{ email }}</a>                    <div class="social-icons">
                    </div>
                    <a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#" class="instagram"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/kamlesh-k-bb9705247/" class="linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="https://www.github.com/kamlesh35" class="github"><i class="fa-brands fa-github"></i></a>
                </div>
                    <a href="{% static 'kk.pdf' %}" download="Kamlesh_Kumar_CV.pdf">
                    <button class="download-btn">Download CV</button>
                    </a>
            </div>
            <form  method="POST" action="{% url 'index' %}">
                {% csrf_token %}
                <div class="contact-right">
                    <input type="text" class="name" name = "name" placeholder="Your Name" required>
                    <input type="email" class="email" name = "email" placeholder="Your Email" required>
                    <textarea class="message" name = "message" placeholder="Your Message" required></textarea>
                    <button class="submit-btn">Submit</button>
                </div>
                </form>
               </section>
               {% if messages %}
<script>
    window.onload = function () {
        {% for message in messages %}
            alert("{{ message|escapejs }}");
        {% endfor %}
    };
</script>
{% endif %}

       

        <footer class="text-center bg-dark text-white p-3">
            <div class="social-icons" , id='foot'>
                <a href="#" class="facebook"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
                <a href="#" class="instagram"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/kamlesh-k-bb9705247/" class="linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="https://www.github.com/kamlesh35" class="github"><i class="fa-brands fa-github"></i></a>
                <a href="#" class="youtube"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </footer>

</body>

</html>